@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#service, #about-us, #home {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 53px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 30px;
}
header .logo {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  color: black;
}
header .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navigation-li {
  display: inline-block;
  margin-right: 30px;
}
header .navigation-li a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header .navigation-li a:hover {
  color: grey;
}
header .navigation-li:last-child {
  margin-right: 40px;
}

.bag-icon {
  width: 15px;
  display: inline-block;
  cursor: pointer;
}

#home .home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 53px;
}
#home .home-wrapper .left-box {
  width: 536px;
}
#home .home-wrapper .left-box .left-h-box {
  width: 534px;
}
#home .home-wrapper .left-box .left-h-box h1 {
  font-size: 60px;
  line-height: 90px;
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  margin-bottom: 40px;
}
#home .home-wrapper .left-box .p-box {
  width: 480px;
  margin-bottom: 50px;
}
#home .home-wrapper .left-box .p-box p {
  font-size: 17px;
  color: #636465;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
#home .home-wrapper .left-box input {
  width: 341px;
  padding-left: 30px;
  height: 60px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 6px #707070;
          box-shadow: 3px 3px 6px #707070;
  margin-top: 10px;
}
#home .home-wrapper .left-box button {
  font-size: 15px;
  color: white;
  background-color: #8cb560;
  padding: 0px 37px;
  margin-left: 20px;
  height: 60px;
  -webkit-box-shadow: 3px 3px 6px #59882b;
          box-shadow: 3px 3px 6px #59882b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#home .home-wrapper .left-box button:hover {
  opacity: 0.8;
}
#home .home-wrapper .right-img-box {
  margin-top: 45px;
  margin-left: 70px;
}
#home .home-wrapper .right-img-box .pizza {
  width: 600px;
}

#about-us .about-wrapper {
  margin-top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about-us .about-wrapper .left-img-box {
  max-width: 1105px;
  width: 100%;
  position: relative;
}
#about-us .about-wrapper .left-img-box .leaf2 {
  position: absolute;
  top: 30px;
  left: 30px;
}
#about-us .about-wrapper .left-img-box .chief-img {
  width: 560px;
}
#about-us .about-wrapper .right-p-box {
  max-width: 495px;
  width: 100%;
}
#about-us .about-wrapper .right-p-box h4 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #febd00;
  margin-bottom: 16px;
}
#about-us .about-wrapper .right-p-box h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 30px;
}
#about-us .about-wrapper .right-p-box .p1 {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: #636465;
  line-height: 30px;
}
#about-us .about-wrapper .right-p-box .btn2 {
  width: 220px;
  height: 70px;
  color: white;
  font-size: 15px;
  background-color: #8cb560;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#about-us .about-wrapper .right-p-box .btn2:hover {
  opacity: 0.8;
}

#service .service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1170px;
  width: 100%;
  margin-top: 180px;
}
#service .service-wrapper .card-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#service .service-wrapper .title-box h4 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #febd00;
  margin-bottom: 16px;
  text-align: center;
}
#service .service-wrapper .title-box h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 30px;
}
#service .service-wrapper .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  height: 347px;
  border-radius: 10px;
  background-color: #f8fbf5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#service .service-wrapper .card-box:hover {
  -webkit-box-shadow: 3px 3px 6px #59882b;
          box-shadow: 3px 3px 6px #59882b;
}
#service .service-wrapper .card-box .menu-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 23px;
}
#service .service-wrapper .card-box h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
}
#service .service-wrapper .card-box li {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

#menu .mywidth {
  width: 200px;
}
#menu .mywidth2 {
  width: 500px;
}
#menu .mymargin {
  margin-left: 350px;
}/*# sourceMappingURL=global.css.map */