@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#contact, #testimonials, #menu, #service, #about-us, #home {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

body {
  padding-top: 53px;
}

header {
  width: 100%;
  height: 53px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  color: black;
}
header .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav-item {
  display: inline-block;
  margin-right: 20px;
}
header .nav-item .my-a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header .nav-item .my-a:hover {
  color: #7b7e81 !important;
}
header .nav-item:last-child {
  margin-right: 40px;
}

.bag-icon {
  width: 15px;
  display: inline-block;
  cursor: pointer;
}

#home .home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home .home-wrapper .left-box {
  width: 536px;
}
#home .home-wrapper .left-box .left-h-box {
  width: 534px;
}
#home .home-wrapper .left-box .left-h-box h1 {
  font-size: 60px;
  line-height: 90px;
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  margin-bottom: 40px;
}
#home .home-wrapper .left-box .p-box {
  width: 480px;
  margin-bottom: 50px;
}
#home .home-wrapper .left-box .p-box p {
  font-size: 17px;
  color: #636465;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
#home .home-wrapper .left-box input {
  width: 341px;
  padding-left: 30px;
  height: 60px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 6px #707070;
          box-shadow: 3px 3px 6px #707070;
  margin-top: 10px;
}
#home .home-wrapper .left-box button {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #8cb560;
  padding: 0px 37px;
  margin-left: 20px;
  height: 60px;
  -webkit-box-shadow: 3px 3px 6px #59882b;
          box-shadow: 3px 3px 6px #59882b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#home .home-wrapper .left-box button:hover {
  opacity: 0.8;
}
#home .home-wrapper .right-img-box {
  margin-top: 45px;
  margin-left: 70px;
}
#home .home-wrapper .right-img-box .pizza {
  width: 600px;
}

#about-us {
  margin-top: 140px;
}
#about-us .about-wrapper {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about-us .about-wrapper .left-img-box {
  max-width: 1105px;
  width: 100%;
  position: relative;
}
#about-us .about-wrapper .left-img-box .leaf2 {
  position: absolute;
  top: 30px;
  left: 30px;
}
#about-us .about-wrapper .left-img-box .chief-img {
  width: 560px;
}
#about-us .about-wrapper .right-p-box {
  max-width: 495px;
  width: 100%;
}
#about-us .about-wrapper .right-p-box h4 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #febd00;
  margin-bottom: 16px;
}
#about-us .about-wrapper .right-p-box h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 30px;
}
#about-us .about-wrapper .right-p-box .p1 {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: #636465;
  line-height: 30px;
}
#about-us .about-wrapper .right-p-box .btn2 {
  width: 220px;
  height: 70px;
  color: white;
  font-size: 15px;
  -webkit-box-shadow: 3px 3px 6px #59882b;
          box-shadow: 3px 3px 6px #59882b;
  font-family: "Poppins", sans-serif;
  background-color: #8cb560;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#about-us .about-wrapper .right-p-box .btn2:hover {
  opacity: 0.8;
}

#service {
  margin-top: 140px;
}
#service .img5 {
  margin-left: 950px;
}
#service .service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1170px;
  width: 100%;
}
#service .service-wrapper .card-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#service .service-wrapper .title-box h4 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #febd00;
  margin-bottom: 16px;
  text-align: center;
}
#service .service-wrapper .title-box h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 30px;
}
#service .service-wrapper .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  height: 347px;
  border-radius: 10px;
  background-color: #f8fbf5;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
#service .service-wrapper .card-box:hover {
  -webkit-box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
          box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
}
#service .service-wrapper .card-box .menu-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 23px;
}
#service .service-wrapper .card-box h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
}
#service .service-wrapper .card-box li {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

#menu {
  margin-top: 140px;
}
#menu .menu-wrapper .menu-title-box h3 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #febd00;
  margin-bottom: 16px;
  text-align: center;
}
#menu .menu-wrapper .menu-title-box h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 30px;
  text-align: center;
}
#menu .menu-wrapper .menu-title-box .menu-list-box {
  margin-bottom: 30px;
}
#menu .menu-wrapper .menu-title-box .menu-list-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#menu .menu-wrapper .menu-title-box .menu-list-box ul li {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  margin-right: 30px;
}
#menu .menu-wrapper .menu-title-box .menu-list-box ul li:last-child {
  margin: 0px;
}
#menu .menu-wrapper .menu-title-box .menu-list-box ul li a {
  color: black;
}
#menu .menu-wrapper .menu-title-box .menu-list-box ul li a:hover {
  text-decoration: underline;
}
#menu .mywidth {
  width: 200px;
}
#menu .mywidth2 {
  width: 500px;
}
#menu .mymargin {
  margin-left: 350px;
}

#testimonials {
  margin-top: 140px;
}
#testimonials .img4 {
  margin-left: 950px;
}
#testimonials .testimonials-wrapper {
  height: 600px;
}
#testimonials .testimonials-wrapper .testimonial-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#testimonials .testimonials-wrapper .testimonial-title-box h4 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #febd00;
  margin-bottom: 16px;
  text-align: center;
}
#testimonials .testimonials-wrapper .testimonial-title-box h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 30px;
  text-align: center;
}
#testimonials .testimonials-wrapper .testimonial-user-box {
  width: 360px;
  background-color: white;
  border: 1px solid #f0f2f5;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#testimonials .testimonials-wrapper .testimonial-user-box:hover {
  -webkit-box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
          box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
}
#testimonials .testimonials-wrapper .testimonial-user-box .user-p-box {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
}
#testimonials .testimonials-wrapper .testimonial-user-box .user-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f2f5;
  border-radius: 8px;
}
#testimonials .testimonials-wrapper .testimonial-user-box .user-img-box img {
  padding: 8px;
  cursor: pointer;
}
#testimonials .testimonials-wrapper .testimonial-user-box .user-img-box h4 {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}
#testimonials .testimonials-wrapper .testimonial-user-box .user-img-box h3 {
  font-size: 14px;
  color: #9e9e9e;
  padding-top: 6px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}
#testimonials .testimonials-wrapper .user-box-wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#testimonials .testimonials-wrapper .user-box-wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
#testimonials .testimonials-wrapper .img4 {
  margin-left: 900px;
}

#contact .contact-wrapper {
  margin-top: 70px;
}
#contact .contact-wrapper .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
          box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
}
#contact .contact-wrapper .form-box .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px;
}
#contact .contact-wrapper .form-box .left-box h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}
#contact .contact-wrapper .form-box .left-box .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
#contact .contact-wrapper .form-box .left-box .mail .fa-regular {
  margin-right: 8px;
}
#contact .contact-wrapper .form-box .left-box .mail a {
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
#contact .contact-wrapper .form-box .left-box .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
#contact .contact-wrapper .form-box .left-box .phone .fa-solid {
  margin-right: 8px;
}
#contact .contact-wrapper .form-box .left-box .phone h4 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
#contact .contact-wrapper .form-box .left-box .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
#contact .contact-wrapper .form-box .left-box .location .fa-solid {
  margin-right: 8px;
}
#contact .contact-wrapper .form-box .left-box .location a {
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
#contact .contact-wrapper .form-box .right-box {
  background: whitesmoke;
  border-radius: 4px;
  padding: 20px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#contact .contact-wrapper .form-box .right-box:hover {
  -webkit-box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
          box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
}
#contact .contact-wrapper .form-box .right-box .r-title-box h2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}
#contact .contact-wrapper .form-box .right-box form input {
  width: 300px;
  height: 30px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  margin-top: 10px;
}
#contact .contact-wrapper .form-box .right-box form label {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
#contact .contact-wrapper .form-box .right-box form textarea {
  width: 300px;
  height: 60px;
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}
#contact .contact-wrapper .form-box .right-box button {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #8cb560;
  padding: 0px 37px;
  margin-top: 20px;
  height: 30px;
  -webkit-box-shadow: 3px 3px 6px #59882b;
          box-shadow: 3px 3px 6px #59882b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#contact .contact-wrapper .form-box .right-box button:hover {
  opacity: 0.8;
}/*# sourceMappingURL=global.css.map */