// header starts !//////////
header {
    @include d-flex(flex, space-between, center);
    width: 100%;
    height: 53px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 30px 30px;
    .logo {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        color: black;
    }
    .right-box {
        @include d-flex(flex, space-between, center);
    }
    .navigation-li {
        display: inline-block;
        margin-right: 30px;
        a {
            font-family: "Josefin Sans", sans-serif;
            font-size: 20px;
            color: black;
            transition: color 0.3s;
            &:hover {
                color: grey;
            }
        }
        &:last-child {
            margin-right: 40px;
        }
    }
}
.bag-icon {
    width: 15px;
    display: inline-block;
    cursor: pointer;
}

// header ends !///////////////
// home-section starts! ///////
#home {
    @extend %mycontainer;
    .home-wrapper {
        @include d-flex(flex, space-between, center);
        .left-box {
            width: 536px;
            .left-h-box {
                width: 534px;
                h1 {
                    font-size: 60px;
                    line-height: 90px;
                    font-family: "Josefin Sans", sans-serif;
                    text-align: start;
                    margin-bottom: 40px;
                }
            }
            .p-box {
                width: 480px;
                margin-bottom: 50px;
                p {
                    font-size: 17px;
                    color: #636465;
                    line-height: 36px;
                    font-family: "Poppins", sans-serif;
                }
            }
            input {
                width: 341px;
                padding-left: 30px;
                height: 60px;
                border: none;
                border-radius: 5px;
                box-shadow: 3px 3px 6px #707070;
                margin-top: 10px;
            }
            button {
                font-size: 15px;
                color: white;
                background-color: #8cb560;
                padding: 0px 37px;
                margin-left: 20px;
                height: 60px;
                box-shadow: 3px 3px 6px #59882b;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .right-img-box {
            margin-top: 45px;
            margin-left: 70px;
            .pizza {
                width: 645px;
            }
        }
    }
}
// home-section ends!///////
// about-us section starts!////
#about-us {
    @extend %mycontainer;
    .about-wrapper {
        margin-top: 220px;
        @include d-flex(flex, center, center);
        .left-img-box {
            max-width: 1105px;
            width: 100%;
            position: relative;
            .leaf2 {
                position: absolute;
                top: 30px;
                left: 30px;
            }
            .chief-img {
                width: 560px;
            }
        }
        .right-p-box {
            max-width: 495px;
            width: 100%;
            h4 {
                font-size: 28px;
                font-family: "Poppins", sans-serif;
                color: #febd00;
                margin-bottom: 16px;
            }
            h2 {
                font-size: 40px;
                font-family: "Poppins", sans-serif;
                color: black;
                margin-bottom: 30px;
            }
            .p1 {
                font-size: 17px;
                font-family: "Poppins", sans-serif;
                color: #636465;
                line-height: 30px;
            }
            .btn2 {
                width: 220px;
                height: 70px;
                color: white;
                font-size: 15px;
                background-color: #8cb560;
                border: none;
                border-radius: 5px;
                margin-top: 50px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
#service {
    @extend %mycontainer;
    .service-wrapper {
        @include d-flex(flex, center, space-between);
        flex-direction: column;
        text-align: center;

        max-width: 1170px;
        width: 100%;
        margin-top: 180px;
        .card-box-wrapper {
            @include d-flex(flex, space-between, center);
        }
        .title-box {
            h4 {
                font-size: 28px;
                font-family: "Poppins", sans-serif;
                color: #febd00;
                margin-bottom: 16px;
                text-align: center;
            }
            h2 {
                font-size: 40px;
                font-family: "Poppins", sans-serif;
                color: black;
                margin-bottom: 30px;
            }
        }
        .card-box {
            @include d-flex(flex, center, center);
            flex-direction: column;
            width: 370px;
            height: 347px;
            border-radius: 10px;
            background-color: #f8fbf5;
            transition: all 0.3s ease-out;
            &:hover {
                box-shadow: 3px 3px 6px #59882b;
            }
            .menu-icon {
                width: 70px;
                height: 70px;
                margin-bottom: 23px;
            }
            h4 {
                font-size: 24px;
                font-family: "Poppins", sans-serif;
                margin-bottom: 25px;
            }
            li {
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                text-align: start;
            }
        }
    }
}
#menu {
    .mywidth {
        width: 200px;
    }
    .mywidth2 {
        width: 500px;
    }
    .mymargin {
        margin-left: 350px;
    }
}
