// header starts !//////////
body {
    padding-top: 53px;
}

header {
    width: 100%;
    height: 53px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    .container {
        @include d-flex(flex, space-between, center);
        // padding: 30px 30px;
    }
    .logo {
        font-size: 40px;
        font-family: "Josefin Sans", sans-serif;
        color: black;
    }
    .right-box {
        @include d-flex(flex, space-between, center);
    }
    .nav-item {
        display: inline-block;
        margin-right: 20px;
        .my-a {
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            color: black;
            transition: color 0.3s;
            &:hover {
                color: #7b7e81 !important;
            }
        }

        &:last-child {
            margin-right: 40px;
        }
    }
}
.bag-icon {
    width: 15px;
    display: inline-block;
    cursor: pointer;
}

// header ends !///////////////
// home-section starts! ///////
#home {
    @extend %mycontainer;
    .home-wrapper {
        @include d-flex(flex, space-between, center);
        .left-box {
            width: 536px;
            .left-h-box {
                width: 534px;
                h1 {
                    font-size: 60px;
                    line-height: 90px;
                    font-family: "Josefin Sans", sans-serif;
                    text-align: start;
                    margin-bottom: 40px;
                }
            }
            .p-box {
                width: 480px;
                margin-bottom: 50px;
                p {
                    font-size: 17px;
                    color: #636465;
                    line-height: 36px;
                    font-family: "Poppins", sans-serif;
                }
            }
            input {
                width: 341px;
                padding-left: 30px;
                height: 60px;
                border: none;
                border-radius: 5px;
                box-shadow: 3px 3px 6px #707070;
                margin-top: 10px;
            }
            button {
                font-size: 15px;
                font-family: "Poppins", sans-serif;
                color: white;
                background-color: #8cb560;
                padding: 0px 37px;
                margin-left: 20px;
                height: 60px;
                box-shadow: 3px 3px 6px #59882b;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .right-img-box {
            margin-top: 45px;
            margin-left: 70px;
            .pizza {
                width: 600px;
            }
        }
    }
}
// home-section ends!///////
// about-us section starts!////
#about-us {
    @extend %mycontainer;
    margin-top: 140px;
    .about-wrapper {
        height: 600px;
        @include d-flex(flex, center, center);
        .left-img-box {
            max-width: 1105px;
            width: 100%;
            position: relative;
            .leaf2 {
                position: absolute;
                top: 30px;
                left: 30px;
            }
            .chief-img {
                width: 560px;
            }
        }
        .right-p-box {
            max-width: 495px;
            width: 100%;
            h4 {
                font-size: 28px;
                font-family: "Poppins", sans-serif;
                color: #febd00;
                margin-bottom: 16px;
            }
            h2 {
                font-size: 40px;
                font-family: "Poppins", sans-serif;
                color: black;
                margin-bottom: 30px;
            }
            .p1 {
                font-size: 17px;
                font-family: "Poppins", sans-serif;
                color: #636465;
                line-height: 30px;
            }
            .btn2 {
                width: 220px;
                height: 70px;
                color: white;
                font-size: 15px;
                box-shadow: 3px 3px 6px #59882b;
                font-family: "Poppins", sans-serif;
                background-color: #8cb560;
                border: none;
                border-radius: 5px;
                margin-top: 50px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
// about-section ends!....>
// setvice-section starts!.....>
#service {
    @extend %mycontainer;
    margin-top: 140px;
    .img5 {
        margin-left: 950px;
    }
    .service-wrapper {
        @include d-flex(flex, center, space-between);
        flex-direction: column;
        text-align: center;

        max-width: 1170px;
        width: 100%;
        .card-box-wrapper {
            @include d-flex(flex, space-between, center);
        }
        .title-box {
            h4 {
                font-size: 28px;
                font-family: "Poppins", sans-serif;
                color: #febd00;
                margin-bottom: 16px;
                text-align: center;
            }
            h2 {
                font-size: 40px;
                font-family: "Poppins", sans-serif;
                color: black;
                margin-bottom: 30px;
            }
        }
        .card-box {
            @include d-flex(flex, center, center);
            flex-direction: column;
            width: 370px;
            height: 347px;
            border-radius: 10px;
            background-color: #f8fbf5;
            transition: all 0.5s ease-out;
            cursor: pointer;
            &:hover {
                // box-shadow: 3px 3px 6px #59882b;
                box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
            }
            .menu-icon {
                width: 70px;
                height: 70px;
                margin-bottom: 23px;
            }
            h4 {
                font-size: 24px;
                font-family: "Poppins", sans-serif;
                margin-bottom: 25px;
            }
            li {
                font-size: 16px;
                font-family: "Poppins", sans-serif;
                text-align: start;
            }
        }
    }
}
// service-section end1 !.....>
// menu-section starts! ! ....>
#menu {
    @extend %mycontainer;
    margin-top: 140px;
    .menu-wrapper {
        .menu-title-box {
            h3 {
                font-size: 28px;
                font-family: "Poppins", sans-serif;
                color: #febd00;
                margin-bottom: 16px;
                text-align: center;
            }
            h1 {
                font-size: 40px;
                font-family: "Poppins", sans-serif;
                color: black;
                margin-bottom: 30px;
                text-align: center;
            }
            .menu-list-box {
                margin-bottom: 30px;
                ul {
                    @include d-flex(flex, center, center);
                    li {
                        font-size: 18px;
                        font-family: "Josefin Sans", sans-serif;
                        margin-right: 30px;
                        &:last-child {
                            margin: 0px;
                        }
                        a {
                            color: black;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .mywidth {
        width: 200px;
    }
    .mywidth2 {
        width: 500px;
    }
    .mymargin {
        margin-left: 350px;
    }
}
// menu-menu-section ends !....>
// testimonial-section starts! >>>>>
#testimonials {
    margin-top: 140px;
    @extend %mycontainer;
    .img4 {
        margin-left: 950px;
    }
    .testimonials-wrapper {
        height: 600px;
        .testimonial-title-box {
            @include d-flex(flex, center, center);
            flex-direction: column;
            h4 {
                font-size: 28px;
                font-family: "Poppins", sans-serif;
                color: #febd00;
                margin-bottom: 16px;
                text-align: center;
            }
            h1 {
                font-size: 40px;
                font-family: "Poppins", sans-serif;
                color: black;
                margin-bottom: 30px;
                text-align: center;
            }
        }
        .testimonial-user-box {
            width: 360px;
            background-color: white;
            border: 1px solid #f0f2f5;
            border-radius: 6px;
            transition: all 0.5s ease;
            &:hover {
                box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
            }
            .user-p-box {
                font-size: 13px;
                font-family: "Poppins", sans-serif;
                padding: 8px;
            }
            .user-img-box {
                @include d-flex(flex, flex-start, center);
                background-color: #f0f2f5;
                border-radius: 8px;
                img {
                    padding: 8px;
                    cursor: pointer;
                }
                h4 {
                    font-size: 14px;
                    font-family: "Josefin Sans", sans-serif;
                    cursor: pointer;
                }
                h3 {
                    font-size: 14px;
                    color: #9e9e9e;
                    padding-top: 6px;
                    font-family: "Josefin Sans", sans-serif;
                    cursor: pointer;
                }
            }
        }
        .user-box-wrapper1 {
            @include d-flex(flex, space-between, center);
        }
        .user-box-wrapper2 {
            @include d-flex(flex, space-evenly, center);
            margin-top: 30px;
        }
        .img4 {
            margin-left: 900px;
        }
    }
}
// testimonial-section ends!!...>
// contact-section starts!....>
#contact {
    @extend %mycontainer;
    margin-bottom: 150px;
    .d-img6 {
        margin-left: 900px;
    }
    .contact-wrapper {
        margin-top: 70px;
        .form-box {
            @include d-flex(flex, center, center);
            max-width: 1170px;
            height: 600px;
            width: 100%;
            margin: 0 auto;
            // box-shadow: 1px 2px 6px #636465;
            border: none;
            border-radius: 6px;
            box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
            .left-box {
                @include d-flex(flex, center, flex-start);
                flex-direction: column;
                padding: 60px;
                h1 {
                    font-size: 40px;
                    font-family: "Poppins", sans-serif;
                    margin-bottom: 30px;
                }
                .mail {
                    @include d-flex(flex, start, center);
                    margin-top: 10px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    .fa-regular {
                        margin-right: 8px;
                    }
                    a {
                        color: black;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
                .phone {
                    @include d-flex(flex, start, center);
                    margin-bottom: 20px;
                    cursor: pointer;
                    .fa-solid {
                        margin-right: 8px;
                    }
                    h4 {
                        color: black;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
                .location {
                    @include d-flex(flex, start, center);
                    cursor: pointer;
                    .fa-solid {
                        margin-right: 8px;
                    }
                    a {
                        color: black;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
            }
            .right-box {
                background: whitesmoke;
                border-radius: 4px;
                padding: 20px;
                transition: all 0.5s ease-in;
                &:hover {
                    box-shadow: 8px 12px 23px 7px rgba(128, 128, 128, 0.77);
                }
                .r-title-box {
                    h2 {
                        font-size: 30px;
                        font-family: "Poppins", sans-serif;
                        margin-bottom: 30px;
                    }
                }
                form {
                    input {
                        width: 300px;
                        height: 30px;
                        font-size: 14px;
                        padding: 10px;
                        border: 1px solid grey;
                        border-radius: 6px;
                        margin-top: 10px;
                    }
                    label {
                        font-size: 16px;
                        font-family: "Poppins", sans-serif;
                    }
                    textarea {
                        width: 300px;
                        height: 60px;
                        font-size: 15px;
                        padding: 10px;
                        border-radius: 4px;
                        margin-top: 20px;
                    }
                }
                button {
                    font-size: 15px;
                    font-family: "Poppins", sans-serif;
                    color: white;
                    background-color: #8cb560;
                    padding: 0px 37px;
                    margin-top: 20px;
                    height: 30px;
                    box-shadow: 3px 3px 6px #59882b;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
// contact-section ends ! ......>
// footer starts !......>
.footer {
    @include d-flex(flex, space-between, center);
    height: 400px;
    width: 100%;
    background-color: #f8fbf5;
    .footer-wrapper {
        @include d-flex(flex, space-between, center);
        width: 100%;

        .f-img-1 {
            width: 170px;
        }
        .social-box {
            width: 375px;
            img {
                padding-bottom: 25px;
            }
            p {
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                line-height: 30px;
                margin-bottom: 30px;
                color: #585858;
            }
            .soc-icon-box {
                @include d-flex(flex, flex-start, center);
                gap: 20px;
                .facebook-icon {
                    background-color: #8cb560;
                    padding: 10px;
                    border-radius: 5px;
                    .fa-facebook {
                        font-size: 20px;
                        color: white;
                    }
                }
                .twitter-icon {
                    background-color: #8cb560;
                    padding: 10px;
                    border-radius: 5px;
                    .fa-twitter {
                        font-size: 20px;
                        color: white;
                    }
                }
                .instagram-icon {
                    background-color: #8cb560;
                    padding: 10px;
                    border-radius: 5px;
                    .fa-instagram {
                        font-size: 20px;
                        color: white;
                    }
                }
            }
        }
        .footer-list1-box {
            display: flex;
            flex-direction: column;
            gap: 25px;
            h3 {
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                margin-top: 40px;
            }
            .f-ul-1 {
                display: flex;
                flex-direction: column;
                gap: 25px;
                a {
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;
                    color: #585858;
                }
            }
        }
        .footer-list2-box {
            display: flex;
            flex-direction: column;
            gap: 25px;
            h3 {
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                margin-top: 40px;
            }
            .f-ul-2 {
                display: flex;
                flex-direction: column;
                gap: 25px;
                a {
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;
                    color: #585858;
                }
            }
        }
        .footer-contact-box {
            display: flex;
            flex-direction: column;
            gap: 25px;
            h3 {
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                margin-top: 40px;
            }
            h4 {
                font-size: 16px;
                font-family: "Poppins", sans-serif;
                color: #585858;
            }
        }
        .f-img-2 {
            width: 150px;
        }
    }
}
