// colors!////
$color01: #7b7e81;
$color02: #8cb560;
$color03: #febd00;
$color04: #585858;
$colwhite: white;
$colblack: black;

// fsize!/////
$fsize01: 18px;
$fsize02: 28px;
$fsize03: 16px;
$fsize04: 40px;
$fsize05: 25px;
$fsize06: 30px;
$fsize07: 20px;

// size///////
$w100: 100%;
